# ignorar pasta de de checkpoint de jupyter notebooks
.ipynb_checkpoints/

# ignorar pasta com os dashboard
dashboard/

# ignorar pasta de dados
data/

# ignorar pasta de etl, ainda não tem código implementado
etl/

# ignorar pasta de imagens
images/

# ignorar pasta outros
outros/

# ignorar pasta weka
weka/

# ignorar arquivo de workspace R
.RData

# ignorar arquivo de histórico R
.Rhistory


